<div class="#">
  <%= form_tag login_path do %>
  <%= field_text_tag :email, nil, :placeholder => "email"%>
  <%= password_field_tag :password, nil, :placeholder => "password"%>
  <%= submit_tag("Login") %>
  <% end %>
</div>
