<h1>Welcome to Little Books, <%= @user.name %></h1>
<p>
  You have successfully signed up to Little Books,
<br/>
</p>
<p>
  To login to the site, just follow this link: <%= link_to "Login", new_session_path%>
</p>
<p>Thanks for joining and have a great day!</p>