<div class="user_signup">

<%= form_for @user do |f| %>
<%= f.text_field :name, placeholder: 'Name'%>
<%= f.text_field :email, placeholder: 'Email' %>
<%= f.password_field :password, placeholder: 'Password'%>

<%end%>
</div>