<h2>Enriching children's reading experiences with customizable stories.</h2>

<% if !@current_user %>
  <div class="section">
    <div class="col span_1_of_2">
      <h3>Signup</h3>
      <%= render "users/new", layout: false %>
    </div>

    <div class="col span_1_of_2">
      <h3>Login</h3>
      <%= render "sessions/new", layout: false %>
    </div>
  </div>
<% else %>
  <div class="section">
    <p>You are logged in. Magic will happen here.</p>
  </div>
<% end %>