<h1>
  Create custom kids' stories. <span class="head">For free.</span>
</h1>

  <h2>
    Enrich a child's reading experience by adding diversity to their favorite stories.
  </h2>

  <h2 class="details">
    Create your custom story in a few simple steps:
  </h2>
  <div class="section">
    <div class="col span_2_of_3">
        <ul>
          <li class="welcome"><span class="num">1</span> Select a story from the Little Books library
          <li class="welcome"><span class="num">2</span> Give your story a title</li>
          <li class="welcome"><span class="num">3</span> Set the name and gender of the main character</li>
          <li class="welcome"><span class="num">4</span> Choose an image for your main character</li>
        </ul>
    </div>

    <div class="col span_1_of_3 center">
      <%= image_tag"girl-5.png", height: '140px' %> <br> <br> <br>
      <%= image_tag"boy-5.png", height: '140px' %>
    </div>
  </div>

  <div class="section center">
    <span class="num-alt large"><%= link_to "Create a custom story now!", stories_path %></span>
  </div>
