<p>
  Little Books was inspired by a story ran by <a href="http://www.npr.org/blogs/codeswitch/2013/06/25/193174358/as-demographics-shift-kids-books-stay-stubbornly-white" target="_blank">NPR</a>, which discusses the lack of diversity in children's books and the importance of diversity in children's reading experiences. The goal of Little Books is to help parents, teachers, and educators enrich the lives of children by modyfing beloved stories to feature a cast of diverse characters.
</p>

<h2>
  Why is diversity in children's books important?
</h2>

<h4>
  Half of young readers belong to a minority.
</h4>

<p>
  According to the <a href="http://www.census.gov/newsroom/releases/archives/population/cb13-112.html" target="_blank">2012 Census</a>, 49.9% of children younger than five belong to a minority group.
</p>

<h4>
  Less than 8% of children's books are about, or written/illustrated by, people of color.
</h4>

<p>
  Of the 3,600 books received by the <a href="http://www.education.wisc.edu/ccbc/books/choiceintro13.asp" target="_blank">Cooperative Children's Book Center at University of Wisconsin-Madison's School of Education</a>, less than 300 books had significant content of themes, topics, and characters that were African, African America, American Indian, Asian/Pacific, Asian/Pacific American, or Latino.
</p>

<h4>
  Children's books should be enjoyable and educational.
</h4>

<p>
  Children should be able to read books that mirror the diversity of the United States population. By adding diversity to children's books, their educational value increases.
</p>
