<% @story.each do |story|%>

<div class="col span_1_of_3">
 Please choose a story:
</div>
<div class="col span_2_of_3">
  <%=story.title%>
</div>
<div class="col span_3_of_4">
  <%=story.summary%>
</div>
<div class="col span_4_of_4">
  <%= link_to 'Customize this story'%>
</div>
<%end%>

<!-- new_story_mytale_mytale_image GET    /stories/:story_id/mytales/:mytale_id/mytale_images/new(.:format)      mytale_images#new -->