<% @story.each do |story|%>

<div class="col span_1_of_3">
 Please choose a story:
</div>
<div class="col span_2_of_3">
  <%=story.title%>
</div>
<div class="col span_3_of_3">
  <%=story.summary%>
</div>
<%end%>

