<div class="section">
  <div class="col span_1_of_7">
    <br>
    <% if params[:slice] %>
    <h1>
      <%= link_to 'Prev', "?slice=#{params[:slice].to_i-1}", :remote => true %>
    </h1>
    <% end %>
  </div>
  <div class="col span_5_of_7 reader">
    <%= @story_paged %>
  </div>
  <div class="col span_1_of_7">
    <h1>
      <%= link_to_next_slice @story_paged, 'Next', :remote => true %>
    </h1>
  </div>
</div>