<div class="section">
  <div class="col span_1_of_5">
    <!--  -->
  </div>

  <div class="col span_3_of_5">
    <p class="center">
      <%= image_tag(@image.url) %>
    </p>
    <h1>
      <%= @mytale.title %>
    </h1>
    <p class="print-story">
      <%= @mytale.content %>
    </p>
  </div>

  <div class="col span_1_of_5">
    <!-- space -->
  </div>
</div>
<%= link_to 'Print', '#', :onclick=>"window.print();return false;"%>

