$accent-font: 'Trocchi', Georgia, serif;
$body-font: 'Lato', Arial, sans-seif;
$nav-spacing: 20px;
$main-color: #7aa6bf;
$small-font: 0.9em;

body {
  font-family: $body-font;
  font-size: 0.9em;
  color: #333333;
}

footer {
  font-size: $small-font;
}

h1 {
  font-size: 4em;
  font-family: $accent-font;
  font-weight: 400;
  color: $main-color;
}

h2, h3, h4, h5, h6 {
  font-family: $accent-font;
  font-weight: 400;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: $main-color;
}

#container {
  margin: 0 auto;
  margin-top: 80px;
  width: 100%;
}

// Nav menu formatting
nav {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  padding: $nav-spacing;
  border-bottom: 1px solid #CCCCCC;
}

.nav {
  display: inline;
  margin: 0;
  padding: 0px;
  ul {
    // Things
  }
  li {
    padding-right: $nav-spacing;
  }
}

.logo {
  font-family: $accent-font;
}