$accent-font: 'Trocchi', Georgia, serif;
$body-font: 'ABeeZee', Arial, sans-seif;
$nav-spacing: 12px;
$main-color: #96BE72;
$small-font: 0.9em;
$large-font: 1.1em;
$light-gray: #dddddd;
$mainfont-color: #333333;

// Core styles
body {
  font-family: $body-font;
  font-size: 1em;
  color: $mainfont-color;
}

p {
  line-height: 1.65em;
}

.small {
  font-size: $small-font;
}

.center {
  text-align: center;
}

footer {
  font-size: $small-font;
  padding-top: $nav-spacing * 3;
}

h1 {
  font-family: $accent-font;
  font-weight: 400;
  font-size: 2.5em;
  color: $main-color;
}

.emphasized {
  font-size: 1.5em;
  padding-top: $nav-spacing * 2;
  font-family: $accent-font;
  font-weight: 400;
  color: $main-color;
}

h2, h3, h4, h5, h6 {
  font-family: $accent-font;
  font-weight: 400;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: $main-color;
}

a.dark {
  font-weight: 700;
  text-decoration: none;
  color: $main-color;
}

#container {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
}

// Page specific styles

.error {
  color: #e52232;
  background-color: #e2acb0;
  border: 1px solid #e52232;
  padding: 0 10px 0 10px;
  width: 50%;
  margin: 0 0 20px 0;
  font-size: $small-font;
}

.welcome {
  font-size: $large-font;
  list-style-type: none;
}

.word-play {
  line-height: $large-font * 2;
}

.mytale-title {
  padding-top: 15px;
}

.num {
  background-color: $main-color;
  color: #ffffff;
  border-radius: 100px;
  font-size: $large-font * 2;
  padding: 8px 20px 8px 20px;
  margin-right: 10px;
  line-height: 2.5em;
}

.num-alt {
  a {
    color: $mainfont-color;
    background-color: $main-color;
    border-radius: 100px;
    font-size: $large-font * 1.7;
    padding: 8px 20px 8px 20px;
    margin-right: 10px;
    line-height: 2.5em;
  }
  a:hover {
    background-color: $mainfont-color;
    color: $main-color;
  }
}

// Customize button
button {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  font-family: $accent-font;
  font-size: $large-font;
  width: 100%;
  padding: 10px;
}

button.ready {
  border: 1px solid $main-color;
  background-color: $main-color;
  font-family: $accent-font;
  font-size: $large-font;
  width: 100%;
  padding: 10px;
}

// Form boxes get perdy
input, select {
  border: 3px solid $light-gray;
  padding: 5px;
  // background-color: $main-color;
  font-family:$accent-font;
  font-size: $small-font;
}

input[type="text"], input[type="password"] {
  width: 75%;
}

input[type="submit"] {
  width: 20%;
  color:#333333;
  padding: 5px;
}

// Nav menu formatting
#nav {
  position: fixed;
  background: $light-gray;
  top: 0;
  left: 0;
  width: 100%;
  padding: $nav-spacing;
  border-bottom: 3px solid $main-color;
  font-size: $small-font;
}

.nav {
  display: inline;
  margin: 0;
  padding: 0px;
  ul {
    // Things
  }
  li {
    padding-right: $nav-spacing * 2;
  }
  a {
    color: $mainfont-color;
    padding: $nav-spacing;
  }
  a:hover {
    background-color: $main-color;
  }
}

.right-nav {
  text-align: right;
  margin-top: -1.3em;
  margin-right: $nav-spacing * 2;
}

.logo {
  font-family: $accent-font;
  font-size: $large-font;
}

// Reader specific styles

.read {
  display: inline;
  margin: 0;
  padding: 0px;
  li {
    margin-top: 100px;
    padding-right: $nav-spacing * 3;
  }
}

.read-menu {
  padding-top: 20px;
  text-align: center;
}

.reader {
  padding-top: $nav-spacing * 3;
  font-size: $large-font * 1.2;
  line-height: $large-font * 2.2;
  text-align: justify;
}

.reader-title {
  font-size: $large-font * 1.3;
  line-height: $large-font * 2.5;
  text-align: justify;
}

.slicer {
  text-align: center;
  font-size: $large-font;
}

.kid {
  position: absolute;
  left: 35%;
  top: 35%;
  z-index: 2;
}

// Printer specific
.print-story {
  font-size: $large-font * 1.3;
  line-height: $large-font * 2.5;
}