$accent-font: 'Trocchi', Georgia, serif;
$body-font: 'ABeeZee', Arial, sans-seif;
$nav-spacing: 20px;
$main-color: #7aa6bf;
$small-font: 0.9em;
$large-font: 1.1em;
$light-gray: #CCCCCC;

// Core styles
body {
  font-family: $body-font;
  font-size: 1em;
  color: #333333;
}

p {
  line-height: 1.65em;
}

p.small {
  font-size: $small-font;
}

footer {
  font-size: $small-font;
  padding-top: $nav-spacing * 3;
}

h1 {
  font-size: 4em;
  font-family: $accent-font;
  font-weight: 400;
  color: $main-color;
}

h2, h3, h4, h5, h6 {
  font-family: $accent-font;
  font-weight: 400;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: $main-color;
}

#container {
  margin: 0 auto;
  margin-top: 80px;
  width: 100%;
}

.error {
  color: #e52232;
  background-color: #e2acb0;
  border: 1px solid #e52232;
  padding: 0 10px 0 10px;
  width: 50%;
  margin: 0 0 20px 0;
  font-size: $small-font;
}

// Form boxes get perdy
input, select {
  border: 1px solid $light-gray;
  padding: 5px;
  font-family:$body-font;
  font-size: $small-font;
}

input[type="text"], input[type="password"] {
  width: 75%;
}

input[type="submit"] {
  width: 20%;
  color:#333333;
  padding:6px 24px;
}

// Nav menu formatting
#nav {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  padding: $nav-spacing;
  border-bottom: 1px solid $light-gray;
  font-size: $small-font;
}

.nav {
  display: inline;
  margin: 0;
  padding: 0px;
  ul {
    // Things
  }
  li {
    padding-right: $nav-spacing;
  }
}

.logo {
  font-family: $accent-font;
}

// Reader specific styles
.reader {
  p {
    line-height: 2em;
    font-size: $large-font;
  }
}